<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="ui container">
<br/>
  <h1 class="ui icon header">
      <i class="settings icon"></i>
      <div class="content">
          {{ title }}
        
      </div>
  </h1>
  <div *ngFor="let order of orders" class="ui tall piled segment">
    <div class="ui grid">
      <div class="two wide column">
        <h2>
            <i class="shopping cart huge icon"></i>{{order.OrderDescription}}
        </h2>
      </div>
      <div class="twelve wide column">
          <div class="ui segment basic"><h3>Order date: {{order.OrderDate | date : 'dd/MM/yyyy' }}</h3></div>
          <table class="ui celled definition table">
            <thead>
              <tr>
              <th></th>
              <th>Quantity</th>
              <th>Price</th>
            </tr></thead>
            <tbody>
                <tr *ngFor="let item of order.Items">
                    <td>{{item.Description}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{item.Price}}</td>
                  </tr>
            </tbody>
            <tfoot class="full-width">
              <tr>
                <th colspan="3">
                    <span class="large ui blue label">
                        <i class="balance scale icon"></i>
                        Sales taxes:  {{order.SalesTaxes}}
                    </span>
                    <span class="large ui blue label">
                        <i class="credit card outline icon"></i>
                        Total:  {{order.Total}}
                    </span>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  <router-outlet></router-outlet>
</div>